<li>
    <h6 class = "food">{{burger_name}} {{#unless devoured}}
        <button class="devour btn btn-sm" data-id="{{id}}" data-devours="{{devoured}}">
            DEVOUR!
        </button> {{/unless}}</h6>
</li>