<li>
    <h6 class = "food">{{burger_name}} {{#unless devoured}}
        <button class="devour btn btn-sm" data-id="{{id}}" data-devours="{{devoured}}">
            DEVOUR!
        </button> {{/unless}}
        {{#if devoured}}
        <button class="delete-burger" data-id="{{id}}">DELETE!</button>
        {{/if}}
        </h6>

</li>